/**
 * Ditch that ugly Menlo font
 */
.commit-sha,
.gfm-commit,
.gfm-commit_range,
.ref-name,
.pipeline-number,
.view-lines,
.ci-table .branch-commit .ref-name,
.commit-message-container textarea,
.gl-font-monospace\! {
    font-family: SFMono-Regular, 'Jetbrains Mono', ui-monospace, SF Mono, Consolas, Liberation Mono, monospace !important;
    font-weight: 400;
}

textarea.js-gfm-input,
pre,
code,
kbd,
samp,
.mr-state-widget .label-branch,
.monospace,
.file-content.code pre code,
.diff-table.code,
table.code,
.git-revision-dropdown .dropdown-content li:not(.dropdown-menu-empty-item) a,
.gl-font-monospace,
.job-log,
.file-content.code .line-numbers a,
.git-clone-holder .form-control,
.md code {
    font-family: SFMono-Regular, 'Jetbrains Mono', ui-monospace, SF Mono, Consolas, Liberation Mono, monospace;
}

.file-content.code pre .line,
.file-content.code .line-numbers a {
    line-height: 1.66;
    font-size: 13px;
}

/**
 * Minor UI improvements
 */
li.issuable-status.d-none.d-sm-inline-block {
    padding: 2px 8px;
    border-radius: 24px;
    background: #897be3;
    text-transform: lowercase;
    color: #ffffff;
}

.dropdown-menu-toggle:focus,
.dropdown-menu-toggle:active,
.gl-form-input:not(.form-control-plaintext):focus,
.gl-form-input.form-control:not(.form-control-plaintext):focus,
.search form.gl-form-input:not(.form-control-plaintext):focus,
.search.search-active form.gl-form-input:not(.form-control-plaintext),
.dropdown .gl-button.gl-button.btn-default:focus,
.dropdown .gl-button.gl-button.btn-block.btn-default:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    border: 1px solid #80bdff;
    background: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    outline: none;
}

.gl-button.gl-button.btn-default:active,
.gl-button.gl-button.btn-default.active,
.gl-button.gl-button.btn-block.btn-default:active,
.gl-button.gl-button.btn-block.btn-default.active {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    border: 1px solid #80bdff;
}

code {
    padding: 2px 6px;
    color: #4b4b4b;
    background-color: #f0f0f0;
    border-radius: 4px;
    font-weight: 400;
}


/**
 * Make flashes stand-out
 */
.flash-container + .row-content-block {
    background: #dff2e8ad !important;
    border-radius: 8px;
    border: 1px solid #8ce0a1 !important;
    margin: 20px 0 !important;
}

.commit-description, .commit-row-description {
    padding: 12px;
    margin-top: 12px;
    background: #dff2e8ad !important;
    border-radius: 4px;
    border: 1px solid #8ce0a1 !important;
}


/**
 * Table
 */
.tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td {
    background-color: #f8f8f8;
    background-clip: unset;
    border-top: 1px solid #dbdbdb;
}

.tree-holder .tree-table tr:last-of-type {
    border-bottom-color: unset;
}

.tree-holder .tree-table tr {
    border-bottom: 0;
    border-top: 0;
}

/**
 * Build page colors
 */
[data-qa-selector="job_log_content"] {
    background: rgb(40, 44, 52);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.build-page .top-bar {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.build-page .term-fg-l-green {
    color: rgb(141, 200, 145);
}
.build-page .term-fg-l-cyan {
    color: rgb(121, 182, 242);
}
.build-page .term-fg-l-red {
    color: rgb(252, 146, 158);
}
.build-page .term-fg-yellow {
    color: rgb(250, 200, 99);
}
.build-page .term-fg-l-magenta {
    color: rgb(220, 148, 220);
}


/**
 * Customize white theme so it looks like Github's light them
 */
.code.white .cm,
.code.white .c1,
.code.white .c {
    color: #909090;
    font-weight: 400;
    font-style: normal;
}

.code.white .k,
.code.white .kd,
.code.white .kr,
.code.white .nf {
    font-weight: 400;
    color: #cf222e;
}

.code.white .k + .nf {
    color: teal;
}

.code.white .s {
    color: #26569c;
}

.code.white .o {
    font-weight: 400;
}

.code.white .kc {
    font-weight: 400;
    color: #da870b;
}

.code.white .na,
.code.white .si,
.code.white .kp {
    color: #24292f;
    font-weight: 400;
}

.code.white .err {
    background-color: transparent;
    color: #0a3069;
}

.code.white .s1,
.code.white .s2,
.code.white .nb {
    color: #0550ae;
}

.code.white .nx {
    color: #24292f;
}

.code.white .nt,
.code.white .nc {
    color: teal;
    font-weight: 400;
}

.code.white .nt + .k {
    color: teal;
}

.code.white .ss {
    color: #8250df;
}

/**
 * Lang-specific
 */
.code.white [lang='vue'] .na {
    color: #8250df;
}

.code.white [lang='jsx'] .na {
    color: #8250df;
}
